* {
  margin: 0;
  padding: 0;
}

.main {
  background: #232731;
  color: white;
  min-height: 100vh;
}

.footer {
  margin-top: 1em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  height: 4.5em;
  background: #292D38;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > p {
  font-size: 14px;
}

.content {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10em;
  padding-bottom: 10em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3em;
}

.name {
  font-family: 'Rubik', sans-serif;
  font-size: 26px;
  color: white;
}

.pfp {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 1em;
}

.activity {
  display: flex;
  padding-bottom: 3em;
}

.activity-column {
  display: flex;
  width: 412px;
  height: 252px;
  flex-shrink: 0;
  flex-direction: column;
  padding-right: 2em;
}

.activity-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  padding-bottom: 3em;
}

.list {
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  padding-bottom: 3em;
}

.list > div {
  display: flex;
  padding: 0.5em;
  flex-direction: row;
  align-items: center;
}

.list > div > p {
  margin-left: 0.5em;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
}

.list > div > svg {
  filter: invert(100%)
}

@media only screen and (max-width: 900px) {
  .activity {
    display: flex;
    flex-wrap: wrap;
  }
  .activity-column {
    padding-bottom: 6em;
  }
  .projects-list {
    grid-template-rows: repeat(3,minmax(0,1fr));
    grid-template-columns: none;
  }
}

@media only screen and (max-width: 600px) {
  .list {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
  .list > div > svg {
    transform: scale(0.9, 0.9)
  }
  .welcome {
    flex-direction: column;
  }
  .pfp {
    padding-bottom: 0.5em;
  }
  .list > div > p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
  }
  .activity-column {
    transform: scale(0.85, 0.85) translate(-10%);
    padding-right: 0;
  }
  .content {
    max-width: 56em;
  }
}

.activity-title > p {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: #bababa;
}

.projects-list > div {
  padding: 0.5em;
}

#quote {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  color: #bababa;
}

.knowledge-title-div {
  padding-bottom: 0.5em;
}

.knowledge-title {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: white;
}

.summary-title {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: white;
  padding-bottom: 0.5em;
}

.projects-title {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: white;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

body {
  background: #232731;
  color: white;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  color: #bababa;
}

a, a:visited {
  color: #fefefe;
}

#linktext {
  text-decoration: none;
  padding-left: 0em;
  padding-right: 0em;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.5em;
}

.links > a {
  margin-left: 5px;
  margin-right: 5px;
  color: #bababa;
}

.links > a:hover {
  color: white;
  transform: scale(1.2, 1.2)
}

.wave {
  animation-name: wave-animation;  
  animation-duration: 2.5s;        
  animation-iteration-count: infinite;  
  transform-origin: 70% 70%;       
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }
100% { transform: rotate( 0.0deg) }
}